/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `food_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `food_name` varchar(255) NOT NULL,
  `calories` int(11) NOT NULL,
  `protein` float DEFAULT 0,
  `carbohydrates` float DEFAULT 0,
  `fat` float DEFAULT 0,
  `fiber` float DEFAULT 0,
  `sodium` float DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `foods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `food_name` varchar(255) NOT NULL,
  `category` varchar(100) NOT NULL,
  `calories` int(11) NOT NULL,
  `protein` float NOT NULL,
  `iron` float NOT NULL,
  `calcium` float NOT NULL,
  `carbs` double DEFAULT 0,
  `fat` double DEFAULT 0,
  `fiber` double DEFAULT 0,
  `sodium` double DEFAULT 0,
  `vitamin_d` double DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `meal_type` varchar(50) NOT NULL,
  `food_name` varchar(150) NOT NULL,
  `calories` float NOT NULL,
  `protein` float NOT NULL,
  `iron` float NOT NULL,
  `calcium` float NOT NULL,
  `date` date NOT NULL,
  `carbs` double DEFAULT 0,
  `fat` double DEFAULT 0,
  `fiber` double DEFAULT 0,
  `sodium` double DEFAULT 0,
  `is_eaten` tinyint(1) DEFAULT 0,
  `vitamin_d` double DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=967 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_bmi_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(50) NOT NULL,
  `bmi_value` decimal(5,2) NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `date_recorded` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_deficiency_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(50) NOT NULL,
  `nutrient_name` varchar(50) NOT NULL,
  `deficiency_level` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `trend` varchar(20) DEFAULT NULL,
  `date_recorded` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `user_deficiency_reports` VALUES (1,'user_123','Iron','Moderate','Low','down','2026-01-06 13:54:56');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `age` int(3) NOT NULL,
  `weight` float NOT NULL,
  `height` float NOT NULL,
  `diet_preference` enum('veg','non-veg','keto','vegan') DEFAULT 'veg',
  `target_calories` int(11) DEFAULT 2000,
  `target_protein` decimal(5,2) DEFAULT 150.00,
  `target_carbs` decimal(5,2) DEFAULT 250.00,
  `target_fat` decimal(5,2) DEFAULT 70.00,
  `last_synced` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
